@charset "utf-8";



@font-face {
font-family: Champagne;
src: url(cac_champagne.woff) format('woff'),
url(cac_champagne.ttf) format('ttf');
}

@font-face {
font-family: Grunge;
src: url(1942.woff) format('woff'),
url(1942.ttf) format('ttf');
}
 
@font-face {
font-family: Dobkin;
src: url(DobkinPlain.woff) format('woff'),
url(DobkinPlain.ttf) format('ttf');
}
 
/*   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Review Assignment
   
   TSS Typographic Style Sheet
   Author: Ronald Pitts
   Date: 05/02/2020  
   
   Filename: ad_styles.css

*/


/* Main Structural Styles */
html{
  background-color:black;
  }

  h1{color: red; font-size:28px;}
  h1 {text-align: center;}
  

  p{
      color: red;
      font-family: courier;
      font-size: 160%;
      text-align: center;
      display: block;
  }
   
html{
 background-color:blue;
}

body{
 background-color: black;
 font-family: 'Palatino Linotype', Palatino, serif;
 }
   
header{
 background-color:black;
}
   
p{
  margin:20px;
  padding: 10px 30px 30px 30px;
}


/* Heading Styles */
h1{color: red; font-size:16px;}


/* Blockquote Styles */




/* Navigation Styles */	
p{
    margin:0px;
    padding: 10px 30px 30px 30px;
  }

  body p{
    text-align: center;
    font-size: 1.1em;
  }

/* Section Styles */
html
{background-color: blue);
}
nav a{
  padding-top: 20px;
  padding-bottom: 20px;
}