@charset "utf-8";



@font-face {
font-family: Champagne;
src: url(cac_champagne.woff) format('woff'),
url(cac_champagne.ttf) format('ttf');
}

@font-face {
font-family: Grunge;
src: url(1942.woff) format('woff'),
url(1942.ttf) format('ttf');
}
 
@font-face {
font-family: Dobkin;
src: url(DobkinPlain.woff) format('woff'),
url(DobkinPlain.ttf) format('ttf');
}
 
/*   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Review Assignment
   
   TSS Typographic Style Sheet
   Author: Ronald Pitts
   Date: 05/02/2020  
   
   Filename: ad_styles.css

*/

/* unvisited link */

nav ol li {
  text-align: left;
  font-size: 20%;
  padding: 10px;
}


.nav {
  background-color: lightgray; 
  list-style-type: none;font-size: 0%;
  text-align: center;
  margin: 60px;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 40px;
  padding: 20px;
}



img{
  float:left;
  padding: 20px;
}

h1 {
  border: 5px double black;
  padding: 20px;
  }

  * {
  box-sizing: border-box;
  }

  .column {
  float: left;
  width: 20%;
  padding: 50px;
  }

/* Clearfix (clear floats) */
  .row::after {
  content: "";
  clear: both;
  display: table;
  }

body, html {
height: 100%;
margin:60px;
}

/* The image used */
.bg {
 background-image: url("ad_logo.jpeg");

/* Full height */
  height: 30%; 

/* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
  
html {
  background-color:whitesmoke;
}

h1 {color:black; font-size:32px;}
h1 {text-align: center;}
  
p {
color: black;
font-family: courier;
font-size: 150%;
text-align: center;
display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 150%;
  margin: auto;
}



td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


